.products {
  --product-width: 14.5rem;

  --product-quantity-btn-disabled-bg: var(--red-contrast);
  --product-quantity-btn-disabled-border: #AEACAA;

  --product-category-color: var(--rose-500);
  --product-price-color: var(--red-contrast);

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--product-width), 1fr));
  align-items: start;
  gap: clamp(1rem, 1rem + .3vw, 2.2rem);
  min-height: 100dvh
}

.dark-theme .products {
  --product-quantity-btn-disabled-bg: #523E77;

  --product-category-color: #A4A4A4;
  --product-price-color: var(--dull-lavender);
}

.products-title {
  margin-block: 0 1rem
}

.product {
  display: flex;
  flex-direction: column-reverse;
  gap: 1rem;

  font-size: var(--fsc-small)
}

.product__name,
.product__price {
  font-weight: 600;
  margin-top: .3rem;
  font-size: var(--fs-medium);
}

.product__category {
  color: var(--product-category-color);
  font-weight: 400;
  font-size: 1rem
}

.product__price {
  color: var(--product-price-color);
}

.product__info {
  margin-top: 1.5rem;
}

.skeleton-product-image {
  --skeleton-divisor: 1.1;

  z-index: 10;
  width: 100%;
  background-color: var(--rose-50);
  min-height: calc((var(--product-width) / var(--skeleton-divisor)) + 3vw);
  border-radius: .3rem;
}

.product__wrapper {
  width: 18rem;
}

.product__image {
  border-radius: .5rem;
  border: 4px solid transparent;
  transition: border-color ease-in-out, opacity ease-in-out, transform ease-in-out;
  transition-duration: var(--fast-transition);
  user-select: none;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  z-index: -1;
  position: absolute;

  transform: scale(0.5);
  opacity: 0;
}

.product__image--loaded {
  z-index: 1;
  position: static;

  transform: scale(1);
  opacity: 1;
}

.product--added .product__image {
  border-color: var(--primary-color)
}

.out-of-stock {
  position: absolute;
  color: var(--rose-50);
  right: 2px;
  top: 0;
  background-color: var(--primary-color);
  font-weight: bold;
  padding: .3rem .5rem;
  border-radius: 0 .5rem 0 .5rem;
  z-index: 50;
  opacity: 0;
  visibility: hidden;

  opacity: 0;
  transform: scale(0);
  transition: opacity ease-in-out var(--fast-transition) .2s, transform ease-in-out var(--fast-transition) .2s;
}

.out-of-stock--show {
  visibility: visible;
  opacity: 1;
  transform: scale(1)
}

.product__buttons {
  bottom: 1.4rem;
  height: 2.8rem;
  display: flex;
  width: calc(9rem + 1.5vw);
  max-width: 12rem;
  margin-inline: auto;
}

.product__button--add,
.product__buttons__quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  height: 100%;
  width: 100%;
  border-radius: 5rem;
  border: 1px solid transparent;
  transition: var(--color-transitions);
  transition-property: border-color, background-color, color;
  background-color: var(--rose-50);
  border-color: var(--rose-500);
}

.dark-theme .product__button--add {
  border-color: var(--purple-heart);
}

.product__button--add svg {
  width: clamp(21px, 21px + .5vw, 40px);
  height: clamp(20px, 20px + .5vw, 39px)
}

.product__button--add:focus-visible {
  outline: 3px solid var(--primary-color);
}

.dark-theme .product__button--add g[fill] {
  fill: var(--purple-heart)
}

.product__buttons__quantity {
  justify-content: space-evenly;
  background-color: var(--primary-color);

  opacity: 0;
  transform: scale(0.5);
  transition: opacity ease-in-out, transform ease-in-out;
  transition-duration: .4s;
  border: none
}

.product__buttons__quantity--show {
  opacity: 1;
  transform: scale(1)
}

.product:not(.product--added) .product__button--add,
.product--added .product__button__quantity {
  z-index: 998;
  pointer-events: auto
}

.product--added .product__button--add,
.product:not(.product--added) .product__button__quantity {
  z-index: 997;
  pointer-events: none;
  cursor: none
}

.product--out [data-action='increment'] {
  pointer-events: none;
  background-color: color-mix(in srgb, var(--product-quantity-btn-disabled-bg) 30%, gray 70%);
  border-color: var(--product-quantity-btn-disabled-border)
}

.product-quantity {
  width: 2ch;
  text-align: center;
}

.button--add__text,
.product-quantity {
  font-size: .9rem;
  font-weight: 600;
}

.product__button__quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: 1px solid var(--rose-50);
  transition: background-color var(--fast-transition) ease-in-out;
}

.product__button__quantity:focus-visible {
  outline: 3px solid var(--rose-50)
}

@media (pointer: coarse) {
  .product__button__quantity {
    width: 1.8rem;
    height: 1.8rem;
  }
}

@media (hover: hover) {
  .product__button--add:hover {
    background-color: var(--rose-100);
    border-color: var(--primary-color);
    color: var(--primary-color)
  }

  .product__button__quantity:hover {
    background-color: var(--rose-50)
  }

  .product__button__quantity:hover path[fill] {
    fill: var(--primary-color)
  }
}

@media only screen and (min-width: 30rem) {
  .skeleton.product-image {
    --skeleton-divisor: 1.4;
  }
}

@media only screen and (min-width: 60rem) {
  .products {
    --product-width: 12rem;

    grid-template-columns: repeat(3, minmax(var(--product-width), 1fr))
  }
}
