.products {
  --product-width: 14.5rem;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--product-width), 1fr));
  gap: clamp(1rem, 1rem + .3vw, 2.2rem);
}

.products-title {
  margin-top: 0;
}

.product {
  display: flex;
  flex-direction: column-reverse;

  font-weight: 600;
  font-size: var(--fsc-small);
}

.product__category {
  color: var(--rose-500);
}

.dark-theme .product__category {
  color: #A4A4A4;
}

.product__name {
  font-size: 1.1rem;
  font-weight: 600;
}

.product__price {
  color: var(--red-contrast);
}

.dark-theme .product__price {
  color: var(--dull-lavender);
}

.product__info {
  display: flex;
  flex-direction: column;
  gap: .3rem;
  max-width: max-content;
}

.product__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: max-content;
}

.no-image {
  text-align: center;
  text-wrap: balance;
  line-height: 1.5;
}

.product__image {
  border-radius: .5rem;
  border: 2px solid transparent;
  transition: border-color var(--fast-transition) ease-in-out;
  user-select: none;
  width: 100%;
  max-width: 100%;
  height: auto;

  display: flex;
  justify-content: center;
  z-index: -1;
  position: absolute;
}

.product__image--loaded {
  z-index: initial;
  position: initial;
}

.product--added .product__image {
  border-color: var(--red-contrast);
}

.dark-theme .product--added .product__image {
  border-color: var(--purple-heart);
}

.product__buttons {
  /* bottom must be half the height */
  bottom: 1.4rem;
  height: 2.8rem;
  border-radius: 5rem;
  color: black;
  display: flex;
  justify-content: center;
  gap: .3rem;
  min-width: 100%;
}

.product__button--add,
.product__buttons__quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  min-height: 100%;
  width: calc(9rem + 1.5vw);
  max-width: 12rem;
  border-radius: 5rem;
  border: 1px solid transparent;
  transition: var(--color-transitions);
  pointer-events: none;
}

.product__button--add {
  background-color: var(--rose-50);
  border-color: var(--rose-500);
}

.product__button--add svg {
  width: clamp(21px, 21px + .5vw, 40px);
  height: clamp(20px, 20px + .5vw, 39px);
}

.product--show .product__button--add {
  pointer-events: auto;
}

.product__button--add:focus-visible {
  outline: 2px solid var(--red-contrast);
}

.product__button--add g[fill] {
  fill: #C73B0F;
}

.dark-theme .product__button--add {
  background-color: var(--rose-50);
  border-color: var(--purple-heart);
}

.dark-theme .product__button--add:focus-visible {
  outline: 2px solid var(--purple-heart);
}

.dark-theme .product__button--add g[fill] {
  fill: var(--purple-heart);
}

.product__buttons__quantity {
  justify-content: space-evenly;
  transition: var(--color-transitions);
  background-color: var(--red-contrast);
  color: var(--rose-50);
}

.dark-theme .product__buttons__quantity {
  background-color: var(--purple-heart);
}

.product:not(.product--added) .product__button--add,
.product--added .product__buttons__quantity {
  z-index: 998;
  pointer-events: auto;
}

.product--added .product__button--add,
.product:not(.product--added) .product__buttons__quantity {
  z-index: 997;
  pointer-events: none;
}

.product-quantity {
  width: 3ch;
  display: flex;
  justify-content: center;
}

.button--add__text,
.product-quantity {
  font-size: .9rem;
  font-weight: 600;
}

.product__button--quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid var(--rose-50);
  transition: var(--color-transitions);
}

.product__button--quantity:focus-visible {
  outline: 2px solid var(--rose-50);
}

@media (pointer: coarse) {
  .product__button--quantity {
    width: 25px;
    height: 25px;
  }
}

@media (hover: hover) {
  .dark-theme .product__button--add:hover {
    background-color: var(--rose-100);
    border-color: var(--purple-heart);
    color: var(--purple-heart);
  }

  .product__button--add:hover {
    background-color: var(--rose-100);
    border-color: var(--red-contrast);
    color: var(--red-contrast);
  }

  .product__button--quantity:hover {
    background-color: var(--rose-50)
  }

  .product__button--quantity:hover path[fill] {
    fill: var(--red-contrast);
  }

  .dark-theme .product__button--quantity:hover {
    background-color: var(--rose-50)
  }

  .dark-theme .product__button--quantity:hover path[fill] {
    fill: var(--purple-heart);
  }
}
