.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
  opacity: 1;
  max-width: 25rem;
  margin-inline: auto;

  transition: transform var(--transition-faster) ease-in-out,
    opacity var(--transition-faster) ease-in-out;
}

.form--hide {
  opacity: 0;
  visibility: hidden;
}

.form__field {
  display: flex;
  flex-direction: column;
  position: relative;
}

.form__field+.form__field,
.form__button {
  margin-top: 1.6rem;
  margin-bottom: .5rem;
}

.form__label {
  font-size: var(--fs-label);
  margin-bottom: .6rem;
  font-weight: 500;
}

.form__input {
  appearance: none;
  background-color: var(--color-bg-input);
  border: 1px solid var(--color-neutral-500);
  min-height: 3rem;
  border-radius: .8rem;
  padding-inline: 1rem;
  color: var(--color-neutral-000);
  font-weight: 500;
  font-size: 1.125rem;

  transition: background-color var(--transition-fast) ease-in-out,
    border-color var(--transition-fast) ease-in-out;
}

.form__input::placeholder {
  color: var(--color-neutral-300);
}

.form__input:focus-visible {
  background-color: var(--color-bg-input-hover);
}

.form__input:focus-visible::placeholder {
  color: var(--color-neutral-000)
}

.form__field[data-error] .form__input {
  border-color: var(--color-error-light);
}

.form__field[data-error] .form__field__error {
  opacity: 1;
  visibility: visible;
}

.form__field__error {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  bottom: -1.3rem;
  left: 0;
  font-size: .8rem;
  color: var(--color-error-light);
  display: flex;
  align-items: center;

  transition: opacity var(--transition-fast) ease-in-out;
}

.form__button {
  --form-button-hover-shadow: hsl(7, 60%, 58%);

  background-color: var(--color-orange-500);
  color: var(--color-neutral-900);
  border-radius: .5rem;
  min-width: 100%;
  min-height: 3rem;
  font-weight: bold;
  font-size: var(--fs-label);

  transition: background-color var(--transition-fast) ease-in-out,
    box-shadow var(--transition-fast) ease-in-out;
  box-shadow: 0 3px 5px transparent;
}

@media (hover: hover) {
  .form__field:hover .form__input {
    background-color: var(--color-bg-input-hover);
  }

  .form__button:hover {
    box-shadow: 0 2px 3px var(--form-button-hover-shadow);
    background-color: var(--color-orange-700);
  }
}
