.cart-product {
  --cart-product-price-color: var(--rose-400-contrast);
  --cart-product-count-color: var(--red-contrast);
  --cart-product-total-color: var(--rose-500);

  --cart-product-svg-path-color: #CAAFA7;
  --cart-product-button-border-color: var(--rose-400);

  --cart-product-hover-color: var(--red-contrast);
  --cart-product-svg-path-hover-color: var(--rose-50);

  /* used in both active and focus states */
  --cart-product-button-active-focus-color: var(--rose-500);

  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  font-size: var(--fsc-small);
  font-weight: 600;
}

.dark-theme .cart-product {
  --cart-product-price-color: var(--glossy-grape);
  --cart-product-count-color: var(--dull-lavender);
  --cart-product-total-color: #E68FFF;

  --cart-product-svg-path-color: var(--rose-50);
  --cart-product-button-border-color: var(--dull-lavender);

  --cart-product-hover-color: var(--dull-lavender);
  --cart-product-svg-path-hover-color: var(--app-bg);
  --cart-product-button-active-focus-color: var(--rose-50);
}

.cart-product__name {
  font-size: inherit;
}

.cart-product__info {
  margin-top: .4rem;
}

.cart-product__price-container,
.cart-product__total-price {
  margin-left: .5rem
}

.cart-product__price-container {
  color: var(--cart-product-price-color)
}

.cart-product__total-price {
  color: var(--cart-product-total-color)
}

.cart-product__count {
  color: var(--cart-product-count-color)
}

.price-container__sign {
  margin-right: .15rem;
}

.cart-product__button-container {
  display: flex;
  align-items: center;
}

.cart-product__button {
  border: 2px solid var(--cart-product-button-border-color);
  border-radius: 50%;
  padding: .1rem;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--color-transitions);
  transition-property: background-color, border-color;
}

.cart-product__button__path {
  transition: fill var(--fast-transition) ease-in-out;
  fill: var(--cart-product-svg-path-color);
}

.cart-product__button:focus-visible {
  transition-property: background-color;
  outline-color: var(--cart-product-button-active-focus-color);
}

@media (hover: hover) {
  .cart-product__button:hover {
    background-color: var(--cart-product-hover-color);
    border-color: var(--cart-product-hover-color);
  }

  .cart-product__button:hover .cart-product__button__path,
  .cart-product__button:active .cart-product__button__path {
    fill: var(--cart-product-svg-path-hover-color);
  }
}

.cart-product__button:active {
  background-color: var(--cart-product-button-active-focus-color);
  border-color: var(--cart-product-button-active-focus-color);
}

@media (pointer: coarse) {
  .cart-product__button {
    width: 25px;
    height: 25px;
  }
}
