.cart {
  border-radius: .5rem;
  padding: 1.5rem;
  overflow-x: hidden;
  background-color: var(--rose-50);
  border: 4px solid transparent;
  box-shadow: 0 0 3px var(--rose-100);
  max-width: 40rem;
  align-self: start;
}

.cart__title {
  color: var(--red-contrast);
}

.cart-content {
  --cart-content-height: 15rem;
  margin-top: 2rem;
  min-height: calc(var(--cart-content-height) + 3vw);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cart__no-product,
.cart__info,
.cart__products {
  min-width: 100%;
}

.cart__info {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.cart__info__total {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart__info__price {
  font-size: 1.8rem;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.cart__info__carbon-neutral {
  border-radius: .5rem;
  padding: 1rem .5rem;
  text-align: center;
  background-color: var(--rose-100);
  color: var(--rose-900);
}

/* tree icon */
.cart__info__carbon-neutral img {
  margin-right: .3rem;
}

.cart__no-product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.confirm-order {
  background-color: var(--red-contrast);
  color: var(--rose-50);
  border-radius: 3rem;
  font-size: 1.2rem;
  font-weight: 600;
  min-height: 3.5rem;
  transition: var(--color-transitions), filter var(--fast-transition) ease-in-out;
  transition-property: color, background-color, filter;
}

.confirm-order:focus-visible {
  outline: 3px solid var(--rose-900);
}

.dark-theme .confirm-order:focus-visible {
  outline: 3px solid var(--dull-lavender);
}

.cart__no-product p,
.cart__info__carbon-neutral {
  font-size: var(--fsc-small);
}

.cart__no-product p {
  font-weight: 600;
  color: var(--rose-500);
}

.dark-theme .cart__no-product p {
  color: var(--dull-lavender);
}

.dark-theme .cart {
  background-color: transparent;
  border-color: var(--cart-modal-border-color);
  box-shadow: unset;
}

.dark-theme .cart__title {
  color: var(--dull-lavender);
}

.dark-theme .cart__info__carbon-neutral {
  background-color: var(--dull-lavender);
  color: '#0e0f20';
}

.dark-theme .confirm-order {
  background-color: var(--purple-heart);
}

@media (hover: hover) {
  .confirm-order:hover {
    filter: saturate(.75)
  }

  .confirm-order:hover:active {
    filter: saturate(.75)
  }
}

@media only screen and (min-width: 64rem) {
  .cart {
    max-width: 22rem;
    margin-left: auto;
  }

  .no-product__image {
    width: calc(96px + .5vw);
    height: calc(96px + .5vw);
  }
}
