.discount-input-container {
  --error-color: var(--red-contrast);

  --text-click-color: var(--rose-500);
  --text-click-hover-color: var(--rose-300);
  --text-click-focus-active-color: var(--rose-400);

  --input-button-bg: var(--primary-color);
  --input-button-fg: var(--rose-50);
  --input-button-border-color: transparent;
  --input-button-focus-color: var(--rose-50);

  --input-button-hover-bg: var(--rose-100);
  --input-button-hover-color: var(--red-contrast);
  --input-button-hover-border-color: var(--rose-300);

  --input-bg: var(--rose-300);
  --input-fg: var(--rose-900);
  --input-border-color: var(--rose-400);

  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.dark-theme .discount-input-container {
  --error-color: #FF501B;

  --text-click-color: #AF9DEA;
  --text-click-hover-color: #D3C5FF;
  --text-click-focus-active-color: #967DE8;

  --input-button-fg: var(--dull-lavender);
  --input-button-bg: transparent;
  --input-button-border-color: var(--dull-lavender);

  --input-button-focus-color: var(--rose-50);

  --input-button-hover-bg: var(--primary-color-dark);
  --input-button-hover-color: var(--input-button-focus-color);
  --input-button-hover-border-color: var(--dull-lavender);

  --input-bg: transparent;
  --input-fg: var(--rose-50);
  --input-border-color: var(--dull-lavender);

  /* change the outline-color only on dark-theme as we wan't the outline to be
  * the default color at light-theme */
  --outline-color: var(--rose-50)
}

.discount-text {
  font-weight: 600;
  font-size: var(--fsc-small);
}

.discount-input-button,
.discount-input {
  padding: .3rem .5rem;
  border-radius: .5rem;
  font-weight: 600;
  font-size: var(--fsc-small);
  transition: var(--color-transitions);
  border: 2px solid transparent;
  transition-property: border-color, background-color, color;
}

.discount-input {
  margin-top: .3rem;
  background-color: var(--input-bg);
  border-color: var(--input-border-color);
  color: var(--input-fg);
  max-width: 100%;
}

.discount-input.invalid {
  border-color: var(--error-color);
}

.discount-input-label {
  font-size: var(--fs-small);
  font-weight: 600;
  cursor: pointer;
  max-width: 12rem;
}

.discount-error {
  font-weight: bold;
  color: var(--error-color)
}

.discount-input-button {
  align-self: end;
  width: 5rem;
  height: 2.15rem;

  background-color: var(--input-button-bg);
  color: var(--input-button-fg);
  border-color: var(--input-button-border-color)
}

.discount-input-button:disabled {
  cursor: not-allowed;
  filter: saturate(.3)
}

.discount-text-click {
  text-decoration: underline;
  cursor: pointer;
  margin-left: .5rem;
  padding: .2rem;
  color: var(--text-click-color);
  transition: var(--color-transitions);
}

.discount-text-click:focus-visible {
  outline: 2px dotted var(--text-click-focus-active-color);
  text-decoration: none;
}

.discount-input-button:focus-visible {
  background-color: var(--input-button-hover-bg);
  color: var(--input-button-hover-color);
  border-color: var(--input-button-hover-border-color);
}

@media (hover: hover) {
  .discount-text-click:hover {
    color: var(--text-click-hover-color)
  }

  .discount-text-click:hover:active {
    color: var(--text-click-focus-active-color);
  }

  .discount-input-button:hover:not(:disabled) {
    background-color: var(--input-button-hover-bg);
    color: var(--input-button-hover-color);
    border-color: var(--input-button-hover-border-color)
  }
}

@media only screen and (min-width: 30rem) {
  .discount-input-container {
    justify-content: center;
  }
}
