.discount-input-container {
  --bright-red: #FF501B;

  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.discount-input-button,
.discount-input {
  padding: .3rem .5rem;
  border-radius: .5rem;
  font-weight: 600;
  font-size: var(--fsc-small);
  transition: var(--color-transitions);
  border: 3px solid transparent;
  transition-property: border-color, background-color, color;
}

.discount-input {
  margin-top: .3rem;
  background-color: var(--rose-300);
  color: var(--rose-900);
  border-color: var(--rose-400);
  max-width: 100%;
}

.discount-input.invalid {
  border-color: var(--red-contrast);
}

.dark-theme .discount-input.invalid {
  border-color: var(--bright-red);
}

.dark-theme .discount-input {
  background-color: transparent;
  color: var(--rose-50);
  border-color: var(--dull-lavender);
}

.discount-input:focus-visible {
  outline: 3px solid var(--red-contrast);
}

.discount-input-button:focus-visible {
  outline: 3px solid var(--rose-900);
}

.dark-theme .discount-input-button:focus-visible,
.dark-theme .discount-input:focus-visible {
  outline-color: var(--rose-50);
}

.discount-input-label {
  font-size: var(--fs-small);
  font-weight: 600;
  cursor: pointer;
  max-width: 12rem;
}

.discount-input-button {
  align-self: end;
  width: 5rem;
  height: 2.15rem;
  border-width: 2px;

  background-color: var(--red-contrast);
  color: var(--rose-50);
}

.dark-theme .discount-input-button {
  background-color: var(--purple-heart);
  border-color: var(--dull-lavender)
}

.discount-input-button:focus-visible {
  background-color: var(--primary-color-dark)
}

.discount-input-button:disabled {
  cursor: not-allowed;
  filter: saturate(.3)
}

.discount-text-click {
  text-decoration: underline;
  color: var(--rose-500);
  cursor: pointer;
  margin-left: .5rem;
  padding: .2rem;
}

.dark-theme .discount-text-click {
  color: #af8dea;
}

.discount-text-click:focus-visible {
  outline: 3px dotted var(--rose-300);
  text-decoration: none;
}

.dark-theme .discount-text-click:focus-visible {
  outline-color: var(--dull-lavender);
}

.discount-error {
  font-weight: bold;
  color: var(--red-contrast);
}

.dark-theme .discount-error {
  color: var(--bright-red)
}

@media (hover: hover) {
  .discount-input-button:hover:not(:disabled) {
    background-color: var(--rose-100);
    color: var(--red-contrast);
    border-color: var(--rose-300);
  }

  .dark-theme .discount-input-button:hover:not(:disabled) {
    background-color: transparent;
    border-color: var(--purple-heart);
    color: var(--dull-lavender);
  }
}

@media only screen and (min-width: 30rem) {
  .discount-input-container {
    justify-content: center;
  }
}
