@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: hsl(0, 0%, 95%);
}

.sedans {
  background-color: hsl(31, 77%, 52%);
  color: hsl(31, 77%, 52%);
}

.suvs {
  background-color: hsl(184, 100%, 22%);
  color: hsl(184, 100%, 22%);
}

.luxury {
  background-color: hsl(179, 100%, 13%);
  color: hsl(179, 100%, 13%);
}

@media only screen and (orientation: portrait) and (max-width: 600px) {
  .sedans {
    border-radius: 1em 1em 0 0;
  }
  .luxury {
    border-radius: 0 0 1em 1em;
  }
}

@media only screen and (orientation: portrait) and (min-width: 700px){
  .sedans{
    border-radius: 1em 0 0 1em;
  }
  .luxury{
    border-radius: 0 1em 1em 0;
  }
  .card{
    width: 250px;
    height: 500px;
  }
}

@media only screen and (orientation: landscape) {
  .sedans {
    border-radius: 1em 0 0 1em;
  }
  .luxury {
    border-radius: 0 1em 1em 0;
  }
}

.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 950px;
  max-height: 100%;
  align-items: center;
  justify-content: center;
  margin: 4em 0 4em 0;
}

.card {
  max-width: 300px;
  min-height: 400px;
  padding: 3em;
}

.card h2 {
  font-family: "Big Shoulders Display", sans-serif;
  font-weight: 700;
  color: hsl(0, 0%, 95%);
  margin: 1em 0 1em 0;
  font-size: 2em;
  text-transform: uppercase;
}

.card p {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  color: hsla(0, 0%, 100%, 0.75);
  max-width: 200px;
  font-size: 15px;
}

.card a {
  text-decoration: none;
  background-color: hsl(0, 0%, 95%);
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  font-size: 15px;
  padding: 1em 2em 1em 2em;
  margin: 4em 0 0 0;
  border-radius: 3em;
  display: inline-block;
  text-align: center;
  color: inherit;
  transition: transform 0.1s ease;
}

.card a:hover {
  transform: scale(0.9);
}

.attribution {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Karla", sans-serif;
  font-weight: 300;
  color: hsl(176, 22%, 24%);
}

.attribution p {
  margin: 0.5em;
}

.attribution a {
  font-family: "Lexend Deca", sans-serif;
  text-decoration: underline;
  color: hsl(179, 100%, 13%);
}

.attribution a:hover {
  color: hsl(179, 100%, 20%);
}
