@font-face {
  font-family: 'Barlow Semi Condensed';
  src: local('Barlow Semi Condensed'),
    url('./assets/fonts/BarlowSemiCondensed-SemiBold.woff2') format('woff2'),
    url('./assets/fonts/BarlowSemiCondensed-SemiBold.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
  font-weight: 600;
}

@font-face {
  font-family: 'Barlow Semi Condensed';
  src: local('Barlow Semi Condensed'),
    url('./assets/fonts/BarlowSemiCondensed-Bold.woff2') format('woff2'),
    url('./assets/fonts/BarlowSemiCondensed-Bold.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
  font-weight: bold;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --dark-text-color: hsl(229, 25%, 31%);
  --score-text-color: hsl(229, 64%, 46%);

  --radial-gradient-from: hsl(214, 47%, 23%);
  --radial-gradient-to: hsl(237, 49%, 15%);

  --transition-time: 250ms;

  font-family: 'Barlow Semi Condensed', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  font-size: 16px;
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: var(--radial-gradient-from);
  background-image: radial-gradient(var(--radial-gradient-from), var(--radial-gradient-to));
  background-image: -webkit-radial-gradient(var(--radial-gradient-from), var(--radial-gradient-to));
  background-image: -moz-radial-gradient(var(--radial-gradient-from), var(--radial-gradient-to));
}

body,
main {
  min-height: 100lvh;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

button {
  appearance: none;
  background: none;
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
}

[aria-hidden='true'] *,
.rules__button__image,
.game__option--selected,
.game__option--house,
.game__option__background,
.game__rules-desktop-overlay,
.game__rules-desktop-overlay--show .game__button,
.game__rules-desktop-overlay--show .game__option {
  pointer-events: none;
}

.game__background,
.rules__image {
  user-select: none;
}

.game {
  --background-image-height: 9.75rem;
  --background-image-width: 11.625rem;
  --header-max-height: 8rem;

  display: grid;
  grid-template-areas:
    "score"
    "content";
  grid-template-rows: max-content calc(100lvh - var(--header-max-height) - 2rem);
  color: var(--dark-text-color);
}

.game__header {
  --header-outline-color: hsl(217, 16%, 45%);

  --score-width: 6rem;
  --score-height: 5rem;
  --fs-score-text: clamp(.8rem, .8rem + 1vw, 1.2rem);
  --fs-score-value: clamp(2.5rem, 2.5rem + 1.5vw, 4rem);

  --image-width: 6rem;

  border: 4px solid var(--header-outline-color);
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-area: score;
  min-width: 90%;
  z-index: 30;
  max-height: var(--header-max-height);
  min-height: var(--header-max-height);
  margin-top: 2rem;
  margin-inline: auto;
  padding: 1rem;
}

.game__title {
  display: flex;
  align-items: center;
}

.game__image {
  min-width: clamp(var(--image-width), var(--image-width) + 2.5vw, var(--image-width) * 1.5);
  max-width: calc(var(--image-width) * 1.5);
  padding: 1.5rem 1rem;
  opacity: 0;
  transition: opacity var(--transition-time) ease-in;

  &.game__image--loaded {
    opacity: 1;
  }
}

.game__score {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: .5rem;
  line-height: 1;
  width: clamp(var(--score-width), var(--score-width) + 2.5vw, var(--score-width) * 2);
  height: clamp(var(--score-height), var(--score-height) + 2.5vw, var(--score-height) * 2);
  max-height: calc(var(--score-height) * 2);
  margin-inline: .5rem;
}

.game__score__text {
  font-size: var(--fs-score-text);
  text-transform: uppercase;
  color: var(--score-text-color);
  letter-spacing: .2rem;
}

.game__score__value {
  font-size: var(--fs-score-value);
  font-weight: bold;
  margin-top: .3rem;
}

.game__content {
  grid-area: content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game__options {
  --scissors-gradient-from: hsl(40, 84%, 53%);
  --scissors-gradient-to: hsl(39, 89%, 49%);
  --scissors-bg: hsl(39, 89%, 39%);

  --paper-gradient-from: hsl(230, 89%, 65%);
  --paper-gradient-to: hsl(230, 89%, 62%);
  --paper-bg: hsl(230, 89%, 52%);

  --rock-gradient-from: hsl(349, 70%, 56%);
  --rock-gradient-to: hsl(349, 71%, 52%);
  --rock-bg: hsl(349, 71%, 32%);

  --lizard-gradient-from: hsl(261, 72%, 63%);
  --lizard-gradient-to: hsl(261, 73%, 60%);
  --lizard-bg: hsl(261, 73%, 50%);

  --spock-gradient-from: hsl(189, 58%, 57%);
  --spock-gradient-to: hsl(189, 59%, 53%);
  --spock-bg: hsl(189, 59%, 43%);

  --option-width: clamp(6rem, 6rem + 8vw, 8rem);
  --option-height: clamp(6rem, 6rem + 8vw, 8rem);

  --play-again-color: unset;

  --option-opacity-time: 250ms;

  --winner-box-shadow-1: hsla(229, 25%, 31%, .8);
  --winner-box-shadow-2: hsla(229, 25%, 31%, .6);
  --winner-box-shadow-3: hsla(229, 25%, 31%, .4);

  --winner-bs-width-1: calc(var(--option-width) / 5.8);
  --winner-bs-width-2: calc(var(--option-width) / 2.8);
  --winner-bs-width-3: calc(var(--option-width) / 1.8);

  min-width: clamp(var(--background-image-width), var(--background-image-width) + 5vw, var(--background-image-width) * 1.5);
  min-height: clamp(var(--background-image-height), var(--background-image-height) + 5vw, var(--background-image-height) * 1.5);
  position: relative;
  top: 25%;
}

.game__content--rpsls {
  --background-image-height: 9.75rem;
  --background-image-width: 11.625rem;

  & .game__options{
    --option-width: clamp(4rem, 4rem + 8vw, 6rem);
    --option-height: clamp(4rem, 4rem + 8vw, 6rem);
    top: 20%;
  }

  &.game__content--user-select .game__options{
    --option-width: clamp(6rem, 6rem + 8vw, 8rem);
    --option-height: clamp(6rem, 6rem + 8vw, 8rem);
  }

  & .game__header{
    --image-width: 5rem;
  }
}

.game__content--user-select .game__options{
  top: 15%;
}

.game__options.options__winner--rock {
  --play-again-color: var(--rock-gradient-from);
}

.game__options.options__winner--paper {
  --play-again-color: var(--paper-gradient-from);
}

.game__options.options__winner--scissors {
  --play-again-color: var(--scissors-gradient-from);
}

.game__options.options__winner--lizard {
  --play-again-color: var(--lizard-gradient-from);
}

.game__options.options__winner--spock {
  --play-again-color: var(--spock-gradient-from);
}

.game__option {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  z-index: 50;
  left: calc(50% - var(--option-width) / 2);
  top: calc(50% - var(--option-height) / 2);
  min-width: var(--option-width);
  min-height: var(--option-height);
  overflow: hidden;
  opacity: 0;
  scale: 0;
  position: absolute;
  transition: box-shadow var(--transition-time) ease-in;

  &.game__option--show {
    opacity: 1;
    scale: 1;
  }

  &.game__option--start {
    transition: opacity var(--option-opacity-time) ease-in,
      transform var(--transition-time) ease-in,
      scale var(--transition-time) ease-in;
  }

  &.game__option--hide {
    visibility: hidden;
    pointer-events: none;
  }

  &::after {
    content: '';
    position: absolute;
    z-index: 60;
    bottom: 5%;
    min-height: 100%;
    min-width: 100%;
    border-radius: 50%;
  }

  &.game__option--winner {
    transition: box-shadow 500ms ease-in;
    box-shadow: 0 0 0 var(--winner-bs-width-1) var(--winner-box-shadow-1),
      0 0 0 var(--winner-bs-width-2) var(--winner-box-shadow-2),
      0 0 .5rem var(--winner-bs-width-3) var(--winner-box-shadow-3);
    z-index: 45; /* avoid box-shadow overflow with the looser */
  }
}

.game__option--house-selecting {
  position: absolute;
  background-color: var(--radial-gradient-to);
  min-width: var(--option-width);
  min-height: var(--option-height);
  border-radius: 50%;
  z-index: 5;
}

.game__option--rock {
  background-color: var(--rock-bg);
}

.game__option--rock::after {
  background-image: linear-gradient(var(--rock-gradient-from), var(--rock-gradient-to));
  background-image: -webkit-linear-gradient(var(--rock-gradient-from), var(--rock-gradient-to));
  background-image: -moz-linear-gradient(var(--rock-gradient-from), var(--rock-gradient-to));
}

.game__option--rock:hover {
  box-shadow: 0 0 1rem var(--rock-gradient-to);
}

.game__option--paper {
  background-color: var(--paper-bg);
}

.game__option--paper::after {
  background-image: linear-gradient(var(--paper-gradient-from), var(--paper-gradient-to));
  background-image: -webkit-linear-gradient(var(--paper-gradient-from), var(--paper-gradient-to));
  background-image: -moz-linear-gradient(var(--paper-gradient-from), var(--paper-gradient-to));
}

.game__option--paper:hover {
  box-shadow: 0 0 .5rem var(--paper-gradient-to);
}

.game__option--scissors {
  background-color: var(--scissors-bg);
}

.game__option--scissors::after {
  background-image: linear-gradient(var(--scissors-gradient-from), var(--scissors-gradient-to));
  background-image: -webkit-linear-gradient(var(--scissors-gradient-from), var(--scissors-gradient-to));
  background-image: -moz-linear-gradient(var(--scissors-gradient-from), var(--scissors-gradient-to));
}

.game__option--scissors:hover {
  box-shadow: 0 0 .5rem var(--scissors-gradient-to);
}

.game__option--spock {
  background-color: var(--spock-bg);
}

.game__option--spock::after {
  background-image: linear-gradient(var(--spock-gradient-from), var(--spock-gradient-to));
  background-image: -webkit-linear-gradient(var(--spock-gradient-from), var(--spock-gradient-to));
  background-image: -moz-linear-gradient(var(--spock-gradient-from), var(--spock-gradient-to));
}

.game__option--spock:hover {
  box-shadow: 0 0 .5rem var(--spock-gradient-to);
}

.game__option--lizard {
  background-color: var(--lizard-bg);
}

.game__option--lizard::after {
  background-image: linear-gradient(var(--lizard-gradient-from), var(--lizard-gradient-to));
  background-image: -webkit-linear-gradient(var(--lizard-gradient-from), var(--lizard-gradient-to));
  background-image: -moz-linear-gradient(var(--lizard-gradient-from), var(--lizard-gradient-to));
}

.game__option--lizard:hover {
  box-shadow: 0 0 .5rem var(--lizard-gradient-to);
}

.game:not(.game__content--rpsls) {
  & .game__option--paper:not(.game__option--selected, .game__option--house, .game__option--hide) {
    transform: translate(-70%, -60%);
  }

  & .game__option--scissors:not(.game__option--selected, .game__option--house, .game__option--hide) {
    transform: translate(70%, -60%);
  }

  & .game__option--rock:not(.game__option--selected, .game__option--house, .game__option--hide) {
    transform: translate(0%, 50%);
  }
}

.game__content--rpsls {
  & .game__option--scissors:not(.game__option--selected, .game__option--house, .game__option--hide) {
    transform: translate(0%, -80%);
  }

  & .game__option--paper:not(.game__option--selected, .game__option--house, .game__option--hide) {
    transform: translate(100%, -25%);
  }

  & .game__option--rock:not(.game__option--selected, .game__option--house, .game__option--hide) {
    transform: translate(60%, 100%);
  }

  & .game__option--lizard:not(.game__option--selected, .game__option--house, .game__option--hide) {
    transform: translate(-60%, 100%);
  }

  & .game__option--spock:not(.game__option--selected, .game__option--house, .game__option--hide) {
    transform: translate(-100%, -25%);
  }
}

.game__option__container {
  min-height: var(--option-height);
  min-width: var(--option-width);
  max-width: var(--option-width);
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
}

.game__option__container {
  transform: unset;
  top: 10%;
}

.option__container--selected {
  left: -25%;
}

.option__container--house {
  left: unset;
  right: -25%;
}

.option__container--selected::after,
.option__container--house::after {
  --option-text-size: clamp(.6rem, .6rem + 1vw, 1.5rem);
  content: '';
  position: absolute;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.12rem;
  bottom: -30%;
  text-wrap: nowrap;
  z-index: 50;
  left: 50%;
  transform: translateX(-50%);
  font-size: var(--option-text-size);
}

.option__container--selected::after {
  content: 'you picked';
}

.option__container--house::after {
  content: 'the house picked';
}

.game__option__background,
.game__option__background::after {
  background-color: #ccc;
  min-width: calc(var(--option-width) / 1.3);
  min-height: calc(var(--option-height) / 1.3);
  border-radius: 50%;
  z-index: 70;
}

.game__option__background {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;

  &::after {
    content: '';
    position: absolute;
    background-color: #eeeeee;
    top: 6%;
  }
}

.game__option__image {
  transition: opacity var(--transition-time) ease-in,
    width var(--transition-time) ease-in,
    height var(--transition-time) ease-in;
  opacity: 0;
  z-index: 80;
  width: calc(var(--option-width) / 3);
  height: calc(var(--option-height) / 2.5);
  object-fit: contain;
  user-select: none;

  &.image--show {
    opacity: 1;
  }
}

@media (any-hover: hover) {
  .game__option:hover:not(.game__option--start) {
    --transition-time: 150ms;
    cursor: pointer;
  }

  .game__options:not(.options__winner--rock, .options__winner--paper, .options__winner--scissors,
    .options__winner--lizard, .options__winner--spock) .game__result__button:hover {
    color: white;
    background-color: var(--dark-text-color);
  }

  .game__result__button:hover {
    color: var(--play-again-color, var(--dark-text-color));
    border: 1px solid white;
  }

  .game__rules-btn:hover {
    background-color: white;
    color: var(--dark-text-color)
  }
}


@media (prefers-reduced-motion: reduce) {
  :root {
    --transition-time: 0ms;
  }
}

.game__background {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  opacity: 0;
  max-height: 100%;
  min-height: 100%;
  min-width: 100%;
  transition: opacity var(--transition-time) ease-in;
  object-fit: contain;

  &.game__background--hide {
    visibility: hidden;
  }

  &.game__background--show {
    opacity: 1;
  }
}

.game__result {
  position: absolute;
  bottom: -120%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity var(--transition-time) ease-in;
  z-index: 50;

  &.game__result--show {
    visibility: visible;
    opacity: 1;
  }
}

.game__result__button,
.game__rules-btn {
  text-transform: uppercase;
  transition: color var(--transition-time) ease-in,
    background-color var(--transition-time) ease-in;
  border-radius: .5rem;
  letter-spacing: .1rem;
}

.game__result__button+.game__result__button {
  margin-top: .5rem;
}

.game__result__text {
  font-size: clamp(3rem, 3rem + 1vw, 3.5rem);
  color: white;
  text-transform: uppercase;
}

.game__result__button {
  color: var(--dark-text-color);
  background-color: white;
  font-size: 1.2rem;
  min-width: 14rem;
  min-height: 3rem;
}

.game__rules-btn {
  --rules-btn-text-size: clamp(1rem, 1rem + .5vw, 1.5rem);

  position: absolute;
  color: white;
  border: 1px solid white;
  padding: .5rem 2rem;
  font-size: var(--rules-btn-text-size);
  left: 50%;
  bottom: 0;
  transform: translate(-50%);
  margin-bottom: 2rem;
  font-weight: 600;
  z-index: 60;

  &.game__rules--clicked {
    background-color: white;
    color: var(--dark-text-color)
  }
}

.game__rules-overlay {
  --fs-rules-text: 2rem;

  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  text-align: center;
  min-height: 100lvh;
  min-width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  z-index: -1;
  opacity: 0;

  &.game__rules--show {
    opacity: 1;
    z-index: 100;
  }
}

.rules__title {
  font-size: var(--fs-rules-text);
  text-transform: uppercase;
  position: absolute;
  top: 10%;
}

.rules__image {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.rules__button {
  position: absolute;
  bottom: 10%;
}

.game__rules-desktop-overlay {
  margin: 0;
  display: none;
}

@media screen and (min-width: 25rem) {
  .option__text {
    --fs-option-text: .9rem;
  }

  .game__content--user-select .game__options,
  .game__content--rpsls.game__content--user-select .game__options{
    --option-width: clamp(6rem, 6rem + 8vw, 10rem);
    --option-height: clamp(6rem, 6rem + 8vw, 10rem);
  }

  .game__content--user-select .game__options{
    top: 10%;
  }
}
