/* UTILITY CLASSES START */

.pos-absolute {
  position: absolute;
}

.pos-relative {
  position: relative;
}

/* UTILITY CLASSES END */

/* APP START */

.app {
  --app-padding: 1rem;
  --app-padding-clamp: clamp(var(--app-padding), var(--app-padding) + 1vw, var(--app-padding) * 3);
  --app-gap: 3rem;
  --app-gap-clamp: clamp(var(--app-gap), var(--app-gap) + 1vw, var(--app-gap) * 1.5);

  --primary-color: var(--red-contrast);

  /* used in hover/focus/hover-active states */
  --primary-color-dark: #ae340e;
  --primary-color-light: #dd4a1e;

  background-color: var(--app-bg);
  padding: var(--app-padding-clamp);
  display: flex;
  flex-direction: column;
  gap: var(--app-gap-clamp);
  min-height: 100dvh;
  transition: var(--color-transitions);
  color: var(--rose-900);
}

.dark-theme .app {
  --primary-color: var(--purple-heart);

  --primary-color-dark: #5B30A8;
  --primary-color-light: #7B46DB;

  color: var(--rose-50)
}

/* APP END */

.price,
.discount-price {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--red-contrast);
}

.discount-price {
  margin-left: .5rem;
}

.dark-theme .price,
.dark-theme .discount-price {
  color: var(--dull-lavender);
}

.total-price-container:has(.discount-price) .price {
  text-decoration: line-through;
  font-size: .9rem;
  font-style: italic;
  color: inherit;
}

@media only screen and (min-width: 54.75rem) {
  .products-section {
    width: 65%;
  }

  .app {
    --app-padding: 1.333rem;
    --app-gap: 1.5rem;

    flex-direction: row;
  }
}

@media only screen and (min-width: 82rem) {
  .app {
    max-width: 85rem;
    margin-inline: auto;
  }
}
