/* UTILITY CLASSES START */

.pos-absolute {
  position: absolute;
}

.pos-relative {
  position: relative;
}

/* UTILITY CLASSES END */

/* APP START */

.app {
  --app-padding: 1rem;
  --app-padding-clamp: clamp(var(--app-padding), var(--app-padding) + 1vw, var(--app-padding) * 3);
  --app-gap: 3rem;
  --app-gap-clamp: clamp(var(--app-gap), var(--app-gap) + 1vw, var(--app-gap) * 1.5);

  --primary-color: var(--red-contrast);

  /* used in hover/focus/hover-active states */
  --primary-color-dark: #ae340e;
  --primary-color-light: #dd4a1e;

  background-color: var(--app-bg);
  padding: var(--app-padding-clamp);
  display: flex;
  flex-direction: column;
  gap: var(--app-gap-clamp);
  min-height: 100dvh;
  transition: var(--color-transitions);
  color: var(--rose-900);
  max-width: 90rem;
}

.dark-theme .app {
  --primary-color: var(--purple-heart);

  color: var(--rose-50)
}

/* APP END */

.skeleton {
  z-index: 10;
  width: 100%;

  /* solves height problem with the library */
  line-height: 1;
}

@media only screen and (min-width: 54.75rem) {
  .products-section {
    width: 65%;
  }

  .cart {
    width: 35%;
  }

  .app {
    --app-padding: 1.333rem;
    --app-gap: 1.5rem;

    flex-direction: row;
  }
}
