.spinner-container {
  min-height: 100%;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-block: auto;
}

.spinner-container.spinner-products {
  height: 100dvh;
}

/* outer circle */
.spinner-child {
  position: relative;
  width: 4rem;
  height: 4rem;
  overflow: hidden;
  border-radius: 5rem;
  background-color: var(--rose-300);
}

.dark-theme .spinner-child {
  background-color: var(--purple-heart);
  background-color: var(--ebony-clay)
}

/* inner circle */
.spinner-rotate-circle {
  position: absolute;
  width: calc(100% - 1.6rem);
  height: calc(100% - 1.6rem);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5rem;
  background-color: var(--rose-100);
}

.dark-theme .spinner-rotate-circle {
  background-color: var(--app-bg);
}

/* the dot */
.spinner-rotate-line {
  background-color: var(--rose-400);
  position: absolute;
  width: .8rem;
  height: .8rem;
  border-radius: 5rem;
  left: 1.6rem;
}

.dark-theme .spinner-rotate-line {
  background-color: #ADA1FF
}

.spinner-cart .spinner-rotate-circle {
  background-color: var(--rose-50)
}

.dark-theme .spinner-cart .spinner-rotate-circle {
  background-color: var(--app-bg)
}

.dark-theme .spinner-user-data .spinner-rotate-circle {
  background-color: var(--ebony-clay);
}

.dark-theme .spinner-user-data .spinner-child {
  background-color: #4C4684;
}
