.total-price-container .price,
.total-price-container .discount-price {
  font-size: 1.5rem;
  font-weight: bold;
}

.total-price-container:has(.discount-price) .price {
  text-decoration: line-through;
  font-size: .9rem;
  font-style: italic;
}

.total-price-container .discount-price {
  margin-left: .5rem;
  color: var(--red-contrast);
}

.total-price-container .price {
  color: var(--red-contrast);
}

.dark-theme {
  & .total-price-container .price {
    color: var(--dull-lavender);
  }

  & .total-price-container .discount-price {
    color: var(--dull-lavender);
  }
}

.total-price-container:has(.discount-price) .price {
  color: inherit;
}
