.file-input {
  display: none;
}

.drop-zone {
  --drop-zone-height: 8rem;

  --bg-button: hsla(245, 19%, 35%, 50%);
  --bg-button-hover: hsla(245, 19%, 35%, 70%);

  --drop-zone-bg: var(--color-bg-input);
  --drop-zone-bg-hover: var(--color-bg-input-hover);
  --drop-zone-border: var(--color-neutral-500);

  --upload-btn-bg-color: var(--bg-button);
  --upload-btn-border-color: var(--color-neutral-700);
  --upload-btn-bshadow-color: var(--color-neutral-900);

  background-color: var(--drop-zone-bg);
  position: relative;
  min-height: var(--drop-zone-height);
  border-radius: .5rem;
  border: 2px dashed var(--drop-zone-border);
  margin-bottom: .8rem;

  transition: background-color var(--transition-fast) ease-in-out, border-color var(--transition-fast) ease-in-out;
}

[data-error] .drop-zone {
  /* same as --color-error-light but almost transparent */
  --drop-zone-bg: #ff656511;
  --drop-zone-bg-hover: #ff656522;
  --drop-zone-border: var(--color-error-light);

  --upload-btn-bg-color: var(--drop-zone-bg);
  --upload-btn-border-color: var(--color-error-light);
  --upload-btn-bshadow-color: #ff656588;
}

.drop-zone__upload-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: var(--drop-zone-height);
  padding: 1rem;
  gap: .5rem;
}

.drop-zone__upload-container.hidden {
  display: none;
}

.drop-zone__upload {
  min-width: 3rem;
  min-height: 3rem;
  background-color: var(--upload-btn-bg-color);
  border: 1px solid var(--upload-btn-border-color);
  border-radius: .8rem;

  transition: background-color var(--transition-fast) ease-in-out, border-color var(--transition-fast) ease-in-out, color var(--transition-fast) ease-in-out,
    transform var(--transition-faster) ease-in-out;
  box-shadow: 0 3px 5px 0 var(--upload-btn-bshadow-color);
}

.drop-zone__text {
  font-size: var(--fs-label);
  text-wrap: balance;
  text-align: center;
}

.drop-zone:focus-visible,
.drop-zone__upload:focus-visible {
  outline: 2px solid var(--color-neutral-300);
}

.drop-zone__max-size {
  font-size: .8rem;
  display: flex;
  align-items: center;

  transition: color var(--transition-fast) ease-in-out;
}

.max-size-error {
  color: var(--color-error-light);
}

/* preview avatar */

.drop-zone__preview.hidden {
  display: none;
}

.drop-zone__preview.show {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;

  min-height: inherit;
}

.preview__image {
  border-radius: .8rem;
  border: 1px solid var(--color-neutral-500);
  transition: border-radius var(--transition-fast) ease-in-out;
  object-fit: cover;
}

.preview__button {
  background-color: var(--bg-button);
  color: var(--color-neutral-300);
  font-weight: 500;
  border-radius: .3rem;
  min-height: 1.5rem;
  font-size: var(--fs-small);
  padding-inline: .5rem;

  transition: background-color var(--transition-fast) ease-in-out;
}

.preview__button+.preview__button {
  margin-left: .6rem;
}

@media (hover: hover) {
  .drop-zone:hover {
    background-color: var(--drop-zone-bg-hover);
  }

  .drop-zone:hover:has(.drop-zone__upload:hover) {
    background-color: var(--drop-zone-bg);
  }

  .drop-zone:hover:has(.drop-zone__upload:hover) .drop-zone__upload {
    background-color: var(--drop-zone-bg-hover);
    transform: scale(1.1);
  }

  .preview__button:hover {
    background-color: var(--bg-button-hover);
  }

  .preview__image:hover {
    border-radius: 1.6rem;
  }
}
