.toggle-theme {
  z-index: 1200;
  border-radius: 50%;
  transition: var(--color-transitions);
  background-color: var(--red-contrast);
  width: clamp(3rem, 3rem + .8vw, 5rem);
  height: clamp(3rem, 3rem + .8vw, 5rem);
  transition: border-color, background-color;
}

.toggle-theme img {
  width: calc(30px + .5vw);
  height: calc(30px + .5vw);
}

.dark-theme .toggle-theme {
  background-color: var(--purple-heart);
}

.toggle-theme:focus-visible {
  outline: 3px solid var(--rose-900);
}

.dark-theme .toggle-theme:focus-visible {
  outline-color: var(--rose-50);
}

@media only screen and (min-width: 30rem) {
  .toggle-theme {
    position: fixed;
    right: var(--app-padding-clamp);
    bottom: var(--app-padding-clamp);
  }
}
