.ticket {
  --ticket-left-items-gap: clamp(.5rem, .5rem + 1vmin, 1.5rem);

  display: flex;
  justify-content: space-between;
  top: 40%;
  left: 50%;
  width: clamp(280px, 280px + 10vw, 500px);
  height: clamp(130px, 130px + 6vw, 300px);
  background: url('./assets/images/pattern-ticket.svg') no-repeat center/100% 100%;

  transform: translate(300%, -40%);
  opacity: 0;
  transition: transform var(--transition-faster) ease-in-out;
}

.ticket--show {
  transform: translate(-50%, -40%);
  opacity: 1;
}

.ticket__content-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-inline: .8rem;
  gap: var(--ticket-left-items-gap);
}

.ticket__content-left>div {
  display: flex;
  align-items: center;
  gap: .6rem;
}

.ticket__data__bottom {
  margin-top: auto;
}

.data__top__footer,
.data__bottom__footer {
  display: flex;
  flex-direction: column;
  gap: .3rem;
}

/* LEFT CONTENT START */

.ticket__title{
  font-size: clamp(1.5rem, 1.5rem + .8vw, 1.8rem);
}

.ticket__date {
  font-size: clamp(.85rem, .85rem + .3vw, 1.1rem);
  color: var(--color-neutral-300);
}

.ticket__logo{
  width: clamp(40px, 40px + 1vw, 60px);
  height: clamp(40px, 40px + 1vw, 60px);
}

.ticket__avatar {
  object-fit: cover;
  border-radius: .5rem;

  width: clamp(50px, 50px + 1vw, 70px);
  height: clamp(50px, 50px + 1vw, 70px);
}

.ticket__full-name {
  font-size: clamp(1.3rem, 1.3rem + 1vw, 1.6rem);
  font-weight: 500;
}

.github-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  outline-offset: 2px;
  color: var(--color-neutral-300);
}

.github-link:focus-visible {
  opacity: .8;
}

.github-link__icon {
  margin-right: .3rem;
}

.github-link__name {
  font-size: clamp(var(--fs-small), var(--fs-small) + .1vw, var(--fs-small) * 1.125rem);
}

@media (hover: hover) {
  .github-link:hover {
    opacity: .8;
  }
}

/* LEFT CONTENT END */

/* RIGHT CONTENT START */

.ticket__content-right {
  display: flex;
  align-items: center;
}

.ticket__id {
  transform: rotate(90deg);
  font-size: 1.3rem;
  letter-spacing: 1px;
  color: var(--color-neutral-500);
  user-select: none;
}

/* RIGHT CONTENT END */
