.ticket {
  display: flex;
  justify-content: space-between;
  top: 40%;
  left: 50%;
  width: clamp(280px, 280px + 5vw, 500px);

  transform: translate(300%);
  opacity: 0;
  transition: transform var(--transition-faster) ease-in-out;
}

.ticket--show {
  transform: translate(-50%, -40%);
  opacity: 1;
}

.ticket__content-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.2rem;
  height: 100%;
  flex: 1
}

.ticket__data__top,
.ticket__data__bottom {
  display: flex;
  gap: .6rem;
}

.ticket__data__bottom {
  margin-top: 1rem;
}

.data__top__footer,
.data__bottom__footer {
  display: flex;
  flex-direction: column;
  gap: .3rem;
}

/* LEFT CONTENT START */

.ticket__date {
  font-size: var(--fs-small);
  color: var(--color-neutral-300);
}

.ticket__avatar {
  object-fit: cover;
  border-radius: .5rem;
}

.ticket__full-name {
  font-size: 1.3rem;
  font-weight: 500;
}

.github-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--color-neutral-300);
}

.github-link__icon {
  margin-right: .3rem;
}

.github-link__name {
  font-size: var(--fs-small);
}

/* LEFT CONTENT END */

/* RIGHT CONTENT START */

.ticket__content-right {
  display: flex;
  align-items: center;
}

.ticket__id {
  transform: rotate(90deg);
  font-size: 1.3rem;
  letter-spacing: 1px;
  color: var(--color-neutral-500);
  user-select: none;
}

/* RIGHT CONTENT END */
