.user-data {
  --user-data-height: 5rem;

  position: fixed;
  display: flex;
  bottom: 0;
  left: 0;
  z-index: 1200;
  width: 100%;
  min-height: var(--user-data-height);
  overflow: hidden;
  box-shadow: 0 -2px 5px var(--user-data-shadow);
}

.user-data__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  flex: 1;

  min-height: var(--user-data-height);
  padding-inline: var(--app-padding-clamp);
  background-color: var(--rose-50);

  opacity: 0;
  transform: scale(0);
}

.user-data__container--show {
  opacity: 1;
  transform: scale(1);
}

.dark-theme .user-data__container {
  background-color: var(--ebony-clay);
}

.user-order,
.user-data__container {
  transition: opacity ease-in-out, transform ease-in-out;
  transition-duration: var(--fast-transition);
}

/* UserOrder */

.user-order {
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: .3rem;

  opacity: 0;
  transform: translateY(-150%) scale(0.5);
}

.user-order--show {
  opacity: 1;
  transform: translateY(0) scale(1)
}

.user-order>* {
  min-width: 100%;

  display: flex;
  align-items: center;
  gap: .5rem;
}

.user-order__products-count {
  color: var(--red-contrast);
  font-weight: bold;
  font-size: 1.2rem;
}

.dark-theme .user-order__products-count {
  color: var(--dull-lavender);
}
