/* UTILITY CLASSES START */

.pos-absolute {
  position: absolute;
}

.pos-relative {
  position: relative;
}

/* UTILITY CLASSES END */

/* APP START */

.app {
  --app-padding: 1rem;
  --app-padding-clamp: clamp(var(--app-padding), var(--app-padding) + 1vw, var(--app-padding) * 3);
  --app-gap: 3rem;
  --app-gap-clamp: clamp(var(--app-gap), var(--app-gap) + 1vw, var(--app-gap) * 1.5);

  background-color: var(--rose-100);
  padding: var(--app-padding-clamp);
  display: flex;
  flex-direction: column;
  gap: var(--app-gap-clamp);
  min-height: 100dvh;
  transition: var(--color-transitions);
}

/* APP END */

/* USER DATA START */

.app-section--user-data {
  --toggle-theme-size: 3rem;
  --user-data-height: 5rem;

  position: fixed;
  display: flex;
  bottom: 0;
  left: 0;
  z-index: 1000;
  max-height: calc(var(--toggle-theme-size) + 2rem);
  width: 100%;
  min-height: var(--user-data-height);
  overflow: hidden;
}

.app-section--user-data>* {
  flex: 1 1;
}

.user-data-container {
  display: flex;
  align-items: center;
  gap: 1rem;

  min-height: var(--user-data-height);
  padding-inline: 1rem;
}

.user-data-container>* {
  position: absolute;
}

.user-notifications {
  overflow: hidden;
  max-height: 4rem;
  max-width: max-content;
}

.app-section--toggle-theme {
  display: flex;
  align-items: center;
  right: 1rem;
}

.user-order {
  font-weight: 600;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: .3rem
}

.user-order>* {
  min-width: 100%;

  display: flex;
  align-items: center;
}

.user-order__products-count,
.user-order__total-price {
  font-weight: bold;
  font-size: 1.2rem;
  margin-left: .3rem;
}

.toggle-theme {
  font-weight: 600;
  z-index: 999;
  width: var(--toggle-theme-size);
  height: var(--toggle-theme-size);
  border-radius: 50%;
  transition: var(--color-transitions);
}

.app-section--notifications {
  flex: 1 1;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  gap: 1rem;
}

.skeleton {
  flex: 1;
  z-index: 10;

  /* solves height problem with the library */
  line-height: 1;
}

/* discount code label & input */

.discount-input-container {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.discount-input-button,
.discount-input {
  padding: .3rem .5rem;
  border-radius: 6%;
  font-weight: 600;
  font-size: var(--fsc-small);
}

.discount-input-button {
  align-self: end;
  background-color: var(--red-contrast);
  color: var(--rose-50);
}

.discount-input-button:disabled {
  cursor: not-allowed;
  /* grey */
  background-color: #646262;
  color: var(--rose-100);
}

.discount-text {
  text-align: center;
}

.discount-text-click {
  text-decoration: underline;
  color: var(--rose-500);
  cursor: pointer;
}

.dark-theme .discount-text-click {
  color: #af8dea;
}

.discount-error {
  color: var(--red-contrast);
  font-weight: bold;
}

/* temporal focus-visible */
.discount-input-button:focus-visible,
.discount-input:focus-visible {
  outline: 2px solid blue
}

.discount-input-label {
  font-size: var(--fs-small);
  font-weight: 600;
  cursor: pointer;
  max-width: 12rem;
}

.discount-input {
  margin-top: .3rem;
  border: none;
  max-width: 100%;
}

/* used in (cart, modal, userOrder components) */

.total-price-container .price,
.total-price-container .discount-price {
  font-size: 1.5rem;
  font-weight: bold;
}

.total-price-container:has(.discount-price) .price {
  text-decoration: line-through;
  font-size: .9rem;
  font-style: italic;
}

.total-price-container .discount-price {
  font-size: 1.5rem;
  margin-left: .5rem;
}

/* 480px */
@media only screen and (min-width: 30rem) {
  .app-section--notifications {
    min-height: var(--toggle-theme-size);
  }

  .app-section--user-data {
    width: calc(30% - var(--app-padding-clamp));
  }

  .app-section--cart {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .discount-input-label {
    font-size: var(--fs-small);
    font-weight: 600;
    cursor: pointer;
    max-width: 9.5rem;
  }
}

@media only screen and (min-width: 58.75rem) {
  .app-section--products {
    width: 70%;
  }

  .app {
    --app-padding: 1.333rem;
    --app-gap: 1.5rem;

    flex-direction: row;
  }
}
