@font-face {
  font-family: 'RedHatText';
  src: local('RedHatText Regular');
  src: url('/assets/fonts/static/RedHatText-Regular.woff2') format('woff2'),
    url('/assets/fonts/static/RedHatText-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'RedHatText';
  src: local('RedHatText SemiBold');
  src: url('/assets/fonts/static/RedHatText-SemiBold.woff2') format('woff2'),
    url('/assets/fonts/static/RedHatText-SemiBold.ttf') format('truetype');
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'RedHatText';
  src: local('RedHatText Bold');
  src: url('/assets/fonts/static/RedHatText-Bold.woff2') format('woff2'),
    url('/assets/fonts/static/RedHatText-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: bold;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root.no-scroll {
  overflow: hidden;
}

:root {
  /* fails contrast ratio (challenge color)*/
  /*--red: hsl(14, 86%, 42%);*/

  /* AAA in contrast ratio (background --rose-50)*/
  --red-contrast: hsl(13.9, 87.7%, 41.4%);

  --green: hsl(159, 69%, 38%);

  --rose-50: hsl(20, 50%, 98%);
  --rose-100: hsl(13, 31%, 94%);
  --rose-300: hsl(14, 25%, 72%);
  --rose-400: hsl(7, 20%, 60%);
  --rose-500: hsl(12, 20%, 44%);
  --rose-900: hsl(14, 65%, 9%);

  --app-bg: var(--rose-100);

  /* shadow used in userData and modal components */
  --user-data-shadow: #888;

  /* cart and modal-info border colors (used in dark mode) */
  --cart-modal-border-color: #3C356A;

  --dull-lavender: #AF8DEA;
  --purple-heart: #673AB7;
  --ebony-clay: #25213C;

  --fast-transition: .2s;

  --fs-small: .9rem;
  --fsc-small: clamp(var(--fs-small), var(--fs-small) + .2vw, var(--fs-small) * 1.5);

  --fs-medium: 1.1rem;
  --fsc-medium: clamp(var(--fs-medium), var(--fs-medium) + .2vw, var(--fs-medium) * 1.5);

  --color-transitions: border-color var(--fast-transition) ease-in-out,
    color var(--fast-transition) ease-in-out,
    background-color var(--fast-transition) ease-in-out,
    outline-color var(--fast-transition) ease-in-out;

  font-family: 'RedHatText', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  color: var(--rose-900);
  font-size: 14px;
}

:root.dark-theme {
  --app-bg: #110F1E;
  --user-data-shadow: #242040;
}

/* TAGS START */

html,
body {
  overflow-x: hidden
}

body {
  background-color: var(--app-bg);
  transition: var(--color-transitions);
}

button {
  border: none;
  appearance: none;
  cursor: pointer;
  background-color: transparent;
  font-family: inherit;
}

img {
  vertical-align: middle;
}

/* TAGS END */

@media only screen and (min-width: 82rem) {
  :root {
    font-size: 16px;
  }
}
