/* removed support to IE and some tags i don't use here */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%
}

body {
  margin: 0
}

h1 {
  font-size: 2em;
  margin: 0.67em 0
}

b {
  font-weight: bolder
}

button,
input {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0
}

button,
input {
  overflow: visible
}

button,
select {
  text-transform: none
}

[type="button"],
button {
  -webkit-appearance: button;
  appearance: auto;
}

[type="button"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0
}

[type="button"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText
}
