.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #0009;
  min-width: 100vw;
  height: 100dvh;
  display: flex;
  align-items: end;
  z-index: 1000;
}

.order-modal {
  --modal-width: 100%;
  --modal-width-clamp: clamp(var(--modal-width), var(--modal-width) + 3vw, var(--modal-width) * 1.3);
  --modal-bg: white;

  border-radius: 1rem 1rem 0 0;
  width: 100%;
  min-height: 90%;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  background-color: var(--modal-bg);
  max-width: var(--modal-width);
  max-height: 90%;
  box-shadow: 0 0 20px 3px var(--user-data-shadow);
}

.dark-theme .order-modal {
  --modal-bg: #121020;
}

.order-modal__icon {
  user-select: none;
  width: calc(50px + 1vw);
  height: calc(50px + 1vw);
}

.order-modal__title {
  margin-block: 1rem;
  font-size: clamp(2.5rem, 2.5rem + 1vw, 4rem);
}

.order-modal__text {
  font-size: var(--fsc-medium);
  color: var(--rose-500);
}

.dark-theme .order-modal__text {
  color: var(--dull-lavender);
}

.order-modal__info {
  background-color: var(--rose-50);
  margin-block: 1.5rem;
  border-radius: .3rem;
}

.dark-theme .order-modal__info {
  background-color: transparent;
}

.order-modal__products {
  overflow-x: hidden;

  border: 2px solid transparent;
  padding: 1.5rem;
  max-height: 22rem;
}

.dark-theme .order-modal__products {
  border-radius: .5rem;
  border-color: var(--cart-modal-border-color);
  padding: 1rem;
}

.order-modal__total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-inline: 1rem;
  margin-block: 0 2rem;
}

.dark-theme .order-modal__total {
  margin-top: 1.2rem;
}

.order-modal__total .price {
  color: inherit;
}

.total__text {
  font-size: var(--fsc-medium)
}

.order-modal__button {
  width: 100%;
  min-height: 3rem;
  border-radius: 3rem;
  font-weight: 600;
  margin-top: auto;
  transition: filter var(--fast-transition) ease-in-out;
  background-color: var(--red-contrast);
  color: var(--rose-50);
}

.dark-theme .order-modal__button {
  background-color: var(--purple-heart);
}

@media (hover: hover) {
  .order-modal__button:hover {
    filter: saturate(.8);
  }

  .order-modal__button:hover:active {
    filter: saturate(1.2);
  }
}

@media only screen and (min-width: 30rem) {
  .order-modal {
    --modal-width: 30rem;

    margin: auto;
    border-radius: 1rem;
    min-height: clamp(var(--modal-width), var(--modal-width) + 3vw, var(--modal-width) * 2);
    width: var(--modal-width-clamp);
  }
}

@media only screen and (min-width: 45rem) {
  .order-modal {
    --modal-width: 35rem;
  }
}
