.order-product {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem
}

.order-product__content {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.order-product__count {
  display: inline-block;
  font-weight: bold;
  min-width: 2ch;
  color: var(--red-contrast);
}

.dark-theme .order-product__count {
  color: var(--dull-lavender);
}

.order-product__price-container {
  display: inline-block;
  color: var(--rose-500);
}

.dark-theme .order-product__price-container {
  color: var(--dull-lavender);
}

.order-product,
.order-product__name {
  font-size: var(--fsc-small);
}

.order-product__total-price {
  font-weight: bold;
}

.order-product__thumbnail {
  --thumbnail-size: clamp(50px, 50px + 1vw, 80px);

  user-select: none;
  border-radius: .5rem;

  width: var(--thumbnail-size);
  height: var(--thumbnail-size);
}
