.order-product {
  --order-product-count-color: var(--red-contrast);
  --order-product-price-container-color: var(--rose-400-contrast);

  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
  font-weight: 600;
  font-size: var(--fsc-small);
}

.dark-theme .order-product {
  --order-product-count-color: var(--dull-lavender);
  --order-product-price-container-color: var(--glossy-grape);
}

.order-product+.order-product {
  margin-top: 2rem;
}

.order-product__thumbnail {
  user-select: none;
  border-radius: .5rem;

  width: 4rem;
  height: 4rem;
}

.order-product__content {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.order-product__name {
  font-size: var(--fsc-small);
  text-wrap: balance;
  margin-bottom: .5rem;
}

.order-product__count {
  color: var(--order-product-count-color)
}

.order-product__price-container {
  color: var(--order-product-price-container-color);
  margin-left: .5rem;
}

.order-product__total-price {
  font-size: var(--fsc-medium);
}
