@font-face {
  font-family: 'Roboto';
  src: local('Roboto'),
    url('./assets/fonts/Roboto-Regular.woff2') format('woff2'),
    url('./assets/fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto Bold'),
    url('./assets/fonts/Roboto-Bold.woff2') format('woff2'),
    url('./assets/fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: bold;
  font-display: swap;
}

*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;

  --tomato-color: hsl(4, 100%, 67%);
  --dark-slate-grey: hsl(234, 29%, 20%);
  --charcoal-grey: hsl(235, 18%, 26%);
  --grey: hsl(231, 7%, 60%);
  --white: hsl(0, 0%, 100%);

  --font-label: .8rem;
  --font-li-item: .9rem;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  background-color: var(--charcoal-grey);
  padding: 2rem;
}

.form {
  display: flex;
  background-color: var(--white);
  border-radius: 2rem;
  min-height: 34rem;
  max-width: 60rem;
  transition: opacity 0.25s ease-in,
    max-height .25s ease-in;
  /*overflow: hidden;*/
}

.form__left-section,
.form__right-section {
  flex: 1 1;
}

.form__left-section {
  padding: 4.5rem 3rem;
  flex-grow: 1.5;
  max-width: 30rem
}

.form__right-section {
  min-height: 100%;
  padding: 1.5rem;
  padding-left: 0;
}

.form__image {
  max-width: 100%;
  min-height: 100%;
  min-width: 100%;
  vertical-align: middle;
  object-fit: cover;
  border-radius: .8rem;
}

.form__title {
  font-size: 2.8rem;
  color: var(--dark-slate-grey);
  margin-bottom: 1.5rem;
}

.form__text {
  color: var(--charcoal-grey);
}

.form__list {
  padding: 0;
  margin: 1.5rem 0 2rem;
}

.form__list__item {
  list-style: none;
  color: var(--charcoal-grey);
  margin: .8rem 0;
  display: flex;
  align-items: center;
  font-size: var(--font-li-item);
}

.list__item-icon {
  margin-right: .8rem;
  display: flex;
  align-items: center;
}

.form__text {
  display: flex;
  justify-content: space-between;
}

.form__label {
  font-size: var(--font-label);
  color: var(--charcoal-grey);
  font-weight: bold;
  margin-bottom: .5rem;
}

.form__error {
  color: var(--tomato-color);
  font-size: var(--font-label);
  font-weight: bold;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.15s ease-in;
}

.form__error.show {
  opacity: 1;
  visibility: visible;
}

.form.success {
  max-height: 0;
  max-width: 0;
  opacity: 0;
  visibility: hidden;
}

.form__input {
  width: 100%;
  height: 3rem;
  border: 2px solid var(--grey);
  border-radius: .5rem;
  margin-bottom: 1.5rem;
  padding-left: 1rem;
  font-weight: bold;
  color: var(--charcoal-grey);
}

.form__input::placeholder {
  color: var(--grey);
  font-weight: normal;
}

.form__input:disabled {
  cursor: not-allowed;
  background-color: color-mix(in srgb, var(--grey) 30%, white);
  color: var(--grey);
}

.form.error .form__input:focus {
  outline: 2px solid var(--tomato-color);
}

.form__input:focus {
  outline: 2px solid var(--charcoal-grey);
}

.form.error .form__input {
  border: 2px solid var(--tomato-color);
  background-color: color-mix(in srgb, var(--tomato-color) 10%, white)
}

.form__button:not(hidden) {
  appearance: none;
  border: none;
  cursor: pointer;
  background-color: var(--dark-slate-grey);
  color: var(--white);
  font-weight: bold;
  width: 100%;
  height: 3rem;
  border-radius: .5rem;
  transition: background-color 150ms ease-in;
}


.subscribe {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  background-color: var(--white);
  transition: opacity 250ms ease-in;
}

.subscribe.show {
  opacity: 1;
  visibility: visible;
  max-width: 30rem;
  border-radius: 2rem;
  padding: 3rem 3.8rem;
}

.form__button--success {
  margin-top: 2.5rem;
}

@media (any-hover: hover) {
  .form__button--success:hover {
    background-image: -webkit-linear-gradient();
    background-image: -moz-linear-gradient();
    background-image: linear-gradient(0.1turn, var(--tomato-color), color-mix(in srgb, var(--tomato-color), orange 50%));
    background-color: var(--tomato-color);
  }

  .form__button:not(.form__button--success):hover {
    background-color: var(--charcoal-grey);
  }
}

.form__title--success {
  margin-top: 2rem;
  font-size: 3rem;
  margin: 1.2rem 0;
}

.form__text--success {
  display: block;
  line-height: 1.5;
  text-wrap: balance;
}

.subscribe__email {
  color: var(--charcoal-grey);
  font-weight: bold;
}

@media only screen and (max-width: 50rem) {
  .form:not(.success) {
    flex-direction: column-reverse;
    min-width: 100vw;
    min-height: 100dvh;
    border-radius: 0;
  }

  .form.success{
    overflow: hidden;
  }

  .form__right-section {
    padding: 0;
    min-width: 100%;
    min-height: auto;
    flex: 0 0;
  }

  .form__left-section {
    margin-top: 2rem;
    padding: 2rem 1.5rem;
    padding-top: 0;
    min-width: 80%;
    margin-inline: auto;
  }

  .form__email-container {
    margin-top: 3rem;
  }

  .form__image {
    min-width: 100%;
    border-radius: 0 0 2rem 2rem;
    max-height: 20rem;
  }

  .form__title {
    font-size: 2.5rem;
  }

  .subscribe.show {
    min-width: 100vw;
    min-height: 100dvh;
    border-radius: 0;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .subscribe__content {
    margin-top: calc(4rem - 1vw);
    max-width: 25rem;
    margin-inline: auto;
  }

  .form__button--success {
    margin-top: auto;
    margin-inline: auto;
    max-width: 25rem;
  }
}

@media only screen and (min-width: 30rem) and (max-width: 50rem) {
  .form:not(.success) {
    min-width: calc(80vw - 1rem);
  }

  .subscribe.show {
    min-width: calc(90vw - 1rem);
    min-height: calc(90dvh - 1rem);
    border-radius: 1rem;
    padding: 2rem;
  }
}
