*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: inherit;
}

@font-face {
	font-family: 'Ubuntu';
	src: local('Ubuntu'),
		url('./assets/fonts/Ubuntu-Regular.woff2') format('woff2'),
		url('./assets/fonts/Ubuntu-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Ubuntu';
	src: local('Ubuntu'),
		url('./assets/fonts/Ubuntu-Medium.woff2') format('woff2'),
		url('./assets/fonts/Ubuntu-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Ubuntu';
	src: local('Ubuntu'),
		url('./assets/fonts/Ubuntu-Bold.woff2') format('woff2'),
		url('./assets/fonts/Ubuntu-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

:root {
	--marine-blue: hsl(213, 96%, 18%);
	--purplish-blue: hsl(243, 100%, 62%);
	--pastel-blue: hsl(228, 100%, 84%);
	--light-blue: hsl(206, 94%, 87%);
	--strawberry: hsl(354, 84%, 57%);

	--cool-gray: hsl(231, 11%, 63%);
	--light-gray: hsl(229, 24%, 87%);
	--magnolia: hsl(217, 100%, 97%);
	--alabaster: hsl(231, 100%, 99%);
	--white: hsl(0, 0%, 100%);

	--fs-label: .9rem;
	--fs-small: .85rem;

	font-family: 'Ubuntu', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	line-height: 1.5;
	color: var(--marine-blue);

	--card-height: 10rem;
	--card-width: 9.5rem;

	--form-width: 500px;
}

.main {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--alabaster);
	min-height: 100vh;
}

.text--uppercase {
	text-transform: uppercase;
}

.form__input,
.form__button,
.step__plan__button {
	appearance: none;
	border: none;
	background: none;
	cursor: pointer;
	outline-width: 1px;
	outline-style: solid;

	&:focus {
		outline-width: 2px;
	}
}

.form__buttons {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: auto;
}

.form__button.hide {
	display: none;
}

.form__button.next {
	background-color: var(--marine-blue);
	color: var(--white);
	font-weight: 500;
	min-width: 120px;
	padding: 1rem 1.5rem;
	border-radius: .5rem;
	font-size: inherit;
	transition: background-color 250ms ease;
	margin-left: auto;

	&:hover { 
		background-color: var(--purplish-blue);
	}

	&:focus{
		background-color: var(--purplish-blue);
		outline-color: var(--marine-blue);
	}
}

.form__button.back {
	width: max-content;
	font-size: inherit;
	font-weight: 500;
	transition: color 250ms ease;

	&:hover {
		color: var(--marine-blue);
	}
}

.form {
	display: flex;
	gap: 1.5rem;
	background-color: var(--white);
	box-shadow: 0 0 15px 5px var(--magnolia);
	border-radius: 1rem;
	padding: 1.5rem;
}

.form__title {
	font-size: 1.8rem;
}

.form__description {
	color: var(--cool-gray);
}

.form__sidebar {
	position: relative;
}

.form__steps {
	display: flex;
	flex-direction: column;
	position: absolute;
	gap: 1rem;
	top: 2.5rem;
	left: 2rem;

	& .form__step {
		display: flex;
		align-items: center;
		gap: 1rem;
	}

	& .form__step .circle {
		color: var(--white);
		border: 1px solid var(--white);
		border-radius: 50%;
		padding: .35rem .8em;
		cursor: pointer;
		transition: opacity 250ms ease-in-out;
	}

	& .form__step .circle:hover{
		opacity: .6;
	}

	& .form__step .circle.actual {
		background-color: var(--light-blue);
		border: 1px solid var(--light-blue);
		color: inherit;
	}

	& .form__step__text {
		display: flex;
		flex-direction: column;
	}

	& .step__text-top {
		color: var(--light-gray);
		font-size: var(--fs-small);
	}

	& .step__text-bottom {
		color: var(--white);
		font-size: var(--fs-small);
		font-weight: bold;
	}
}

.form__right-side {
	display: flex;
	flex-direction: column;
	padding: 2rem 5rem;
}

.form__step {
	display: none;

	&.show {
		display: flex;
		min-width: var(--form-width);
		max-width: var(--form-width);
	}
}

/* step 1 */

.form__inputs {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	margin-top: 2rem;
	min-width: 100%;

	& .form__input__container {
		display: flex;
		flex-direction: column;
		gap: .3rem;
		position: relative;
	}

	& .form__label {
		font-size: var(--fs-label);
	}

	& .form__input__error {
		position: absolute;
		color: var(--strawberry);
		font-weight: bold;
		top: 0;
		right: 0;
		font-size: var(--fs-label);
	}
}

.form__input {
	border-radius: .5rem;
	padding: .8rem 1rem;
	font-weight: 500;
	font-size: inherit;
	color: inherit;
	transition: border 250ms ease;
	outline-color: var(--light-gray);

	&::placeholder {
		font-weight: bold;
		color: var(--cool-gray)
	}

	&:not(.input--error):focus {
		outline-color: var(--purplish-blue);
	}

	&.input--error {
		outline-color: var(--strawberry);
	}
}

/* step 1 end */

/* step 2 */

.form__step--2 {
	flex-direction: column;
	align-items: center;
	gap: 2rem;

	& .form__step__plan {
		background-color: var(--alabaster);
		min-width: 100%;
		padding: 1rem 0;
		border-radius: .5rem;
		display: flex;
		align-items: center;
		justify-content: center;

		& .step__plan__button::after {
			content: '';
			position: absolute;
			min-width: 12px;
			min-height: 12px;
			background-color: var(--white);
			left: .3rem;
			border-radius: 50%;
			transition: left 250ms ease;
		}
	}
}

.step__plan__button {
	margin-inline: 1.5rem;
	min-width: 45px;
	min-height: 20px;
	background-color: var(--marine-blue);
	border-radius: 1rem;
	position: relative;
	display: flex;
	align-items: center;

	&.yearly::after {
		left: calc(100% - .3rem - 12px)
	}
}

.step__plan__price {
	color: var(--cool-gray);
	font-weight: 500;
	transition: color 250ms ease;

	&.selected {
		color: inherit;
	}
}

.form__cards {
	display: flex;
	gap: 1.5rem;
	margin-top: 2rem;

	& .form__card {
		display: flex;
		flex-direction: column;
		border: 1px solid var(--light-gray);
		border-radius: .5rem;
		padding: 1rem;
		justify-content: space-between;
		min-height: var(--card-height);
		min-width: var(--card-width);
		cursor: pointer;

		/* necessary... otherwise it looks very small */
		&:has(.card__free-months.show){
			min-height: calc(var(--card-height) + 1rem)
		}

		& .form__card__icon {
			width: 40px;
			height: 40px;
		}

		&.card--selected {
			border: 1px solid var(--purplish-blue);
			background-color: var(--alabaster);
		}
	}
}

.form__card__text {
	display: flex;
	flex-direction: column;

	& .card__plan {
		font-weight: 500;
	}

	& .card__price {
		color: var(--cool-gray);
		font-size: var(--fs-label);
	}
}

.card__free-months{
	font-size: var(--fs-small);
	display: none;

	&.show{
		display: inline;
	}
}

/* step 2 end */

/* step 3 */

.form__addons {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin-top: 2.5rem;

	& .form__addon {
		border: 1px solid var(--purplish-blue);
		border-radius: .5rem;
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 1rem 1.5rem;
		transition: background-color 250ms ease;

		&.selected{
			background-color: var(--magnolia);
		}
	}
}


.addon__text__price{
	color: var(--purplish-blue);
	font-size: var(--fs-label);
	font-weight: 500;
}

.form__addon__left {
	display: flex;
	align-items: center;
	gap: 1.5rem;

	& .addon__icon {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 20px;
		height: 20px;
		border: 1px solid var(--cool-gray);
		border-radius: .3rem;
		transition: background-color 250ms ease;

		&.selected{
			background-color: var(--purplish-blue);
			border: 1px solid var(--purplish-blue);
		}
	}
}

.addon__text {
	font-weight: 500;

	& .addon__text__title {
		font-size: 1rem;
	}

	& .addon__text__desc {
		font-size: var(--fs-label);
		color: var(--cool-gray);
	}
}

/* step 3 end */

/* step 4 */

/* step 4 end */

/* step 5 */

.form__step--5{
	flex-direction: column;
	align-items: center;
	text-align: center;
	justify-content: center;
	gap: 1rem;
	min-height: 100%;

	& .thank-icon{
		margin-bottom: 1rem;
	}

	& .thank-title{
		font-size: 2rem;
	}

	& .thank-text{
		color: var(--cool-gray);
		max-width: 450px;
	}
}

/* step 5 end */
